apiVersion: descheduler/v1alpha2
kind: DeschedulerConfiguration
enableContentionProfiling: true
enableProfiling: true
clientConnection:
  kubeconfig: /Users/lixiangli/.kube/config
healthzBindAddress: 0.0.0.0:10251
metricsBindAddress: 0.0.0.0:10251
leaderElection:
  resourceLock: leases
  resourceName: koord-descheduler
  resourceNamespace: koordinator-system
deschedulingInterval: 10s
dryRun: false
profiles:
- name: koord-descheduler
  plugins:
    deschedule:
      disabled:
        - name: "*"
    # disable LowNodeLoad by default
    balance:
     enabled:
     - name: LowNodeLoad
    evict:
      disabled:
        - name: "*"
      enabled:
        - name: CustomEvictor
  pluginConfig:
  - name: MigrationController
    args:
      apiVersion: descheduler/v1alpha2
      kind: MigrationControllerArgs
      evictionPolicy: Eviction
      evictLocalStoragePods: true
      ignorePvcPods: true
      namespaces:
        exclude:
          - kube-system
          - kruise-system
          - open-local
          - koordinator-system
      evictQPS: "10"
      evictBurst: 1
      dryRun: true
  - name: LowNodeLoad
    args:
      apiVersion: descheduler/v1alpha2
      kind: LowNodeLoadArgs
      evictableNamespaces:
        exclude:
          - kube-system
          - kruise-system
          - open-local
          - koordinator-system
      useDeviationThresholds: false
      nodeFit: false
      dryRun: false
      lowThresholds:
        cpu: 45
        memory: 65
      highThresholds:
        cpu: 90
        memory: 85